/* Fuente global */
* {
    font-family: sans-serif;
    font-weight: 400; /* Aplica un peso de fuente constante */
}

/* Botón de alternancia */
.toggle-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2000;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    border-radius: 4px;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 24px;
    left: 24px;
    bottom: 44px;
    width: 260px;
    border-radius: 16px;
    padding: 16px;
    background: rgba(82, 79, 79, 0.8);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ffffff;
    transition: transform 0.4s ease-in-out;
    z-index: 1000;
}

/* Estado oculto del sidebar */
.sidebar.collapsed {
    transform: translateX(-100%);
}

.sidebar header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.sidebar .logo-text {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
}

/* Enlaces del sidebar */
.nav-links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    display: block;
    padding: 12px 16px;
    border-radius: 8px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400; /* Peso constante */
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
    background-color: #0056b3;
    color: #e0e0e0;
    font-weight: 400; /* Mantiene el peso en todos los estados */
}

/* Botón de cerrar sesión */
.logout-button {
    padding: 12px 16px;
    margin-top: auto;
    color: white;
    background-color: #d9534f;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #c9302c;
}

.login-button, .logout-button {
    padding: 12px 16px;
    margin-top: auto;
    color: white;
    background-color: #d9534f;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .login-button {
    background-color: #007bff;
  }

  .login-button:hover {
    background-color: #0056b3;
  }

  .logout-button {
    background-color: #d9534f;
  }

  .logout-button:hover {
    background-color: #c9302c;
  }

 